body {
    font: 16px/24px 'Josefin Sans', Helvetica, Helvetica Neue, Arial, sans-serif;
    height: 100%;
}
.wrapper {
    width: 90%;
    margin: 0 5%;
}

/* ===================
    ALL: RED Theme
   =================== */

#header-container {
    border-bottom: 20px solid #f24f58;
    position: fixed;
    width: 100vw;
    box-shadow: none !important;
    z-index: 1000;
}

#footer-container {
    border-top: 20px solid #f24f58;
}
#main aside {
    border-top: 20px solid #f24f58;
}
#header-container,
#footer-container,
#main aside {
    background: #f24f58;
}
#title {
    color: white;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
}
::-moz-selection {
    background: #f24f58;
    color: #fff;
    text-shadow: none;
}
::selection {
    background: #f24f58;
    color: #fff;
    text-shadow: none;
}
#banner-container {
    background: #f24f58;
    background-size: cover;
    height: 100vh;
    padding-top: 90px;
}

#banner-container .wrapper .logo {
    background: url(../images/logo-name.png) no-repeat;
    width: 568px;
    height: 231px;
    margin-left: 25%;
    margin-top: 10%;
    box-shadow: 0px 2px 10px rgba(0,0,0,0.5);
    cursor: pointer;
}

#banner-container .wrapper .logo:hover {
    background: url(../images/logo-name-white.png) no-repeat;
}
/*---------------------
PORTFOLIO - THE WORKS
----------------------*/

#main { 
	position: relative; 
	width: 960px; 
	margin: 0 auto; 
	/* You can see the purpose of transition by resizing the window.	*/
	-webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;	
}

#main-container {
    margin: -100px auto 80px;
}

#main-container .title {
    background: url(../images/works-title.jpg) no-repeat center center;
    margin: 0 auto 50px;
    width: 205px;
    height: 166px;
    box-shadow: 0px 2px 10px rgba(0,0,0,0.5);
}
 
#filters {
	margin:1%;
	padding:0;
	list-style:none;
    border-bottom: 4px solid #f24f58;
}

#filters li {
    float:left;
}

#filters li span {
    display: block;
    padding:5px 20px;		
    text-decoration:none;
    color:#666;
    cursor: pointer;
}

#filters li span.active {
    background: #f24f58;
    color:#fff;
    margin-left: 6px;
	-webkit-transform: skew(-20deg);
	   -moz-transform: skew(-20deg);
	     -o-transform: skew(-20deg);
}
 
 
#portfoliolist .portfolio {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	width:31%;
	margin:1%;
	display:none;
	float:left;
	overflow:hidden;
}

.portfolio-wrapper {
    overflow:hidden;
    position: relative !important;
    background: #575a63;
    border: 1px inset #575a63;
    cursor:pointer;
    height: 214px;
}

.portfolio img {
    max-width:100%;
    position: relative;
}

/*hide its label by default*/
.portfolio .label {
    position: absolute;
    width: 100%;
    height:60px;
    bottom:-60px;
}

.portfolio .label-bg {
    background: #f24f58;
    width: 100%;
    height:100%;
    position: absolute;
    top:0;
    left:0;
}

.portfolio .label-text {
    color:#fff;
    position: relative;
    z-index:500;
    padding:5px 8px;
}

.portfolio .label-text a {
    color: #ffffff;
    font-size: 14px;
    font-weight: bold;
}
			
.portfolio .text-category {
    display:block;
    font-size:12px;
    text-transform: uppercase;
}

/* #Tablet (Portrait) */
@media only screen and (min-width: 768px) and (max-width: 959px) {
	.container {
		width: 768px; 
	}
}

/*  #Mobile (Portrait) - Note: Design for a width of 320px */
@media only screen and (max-width: 767px) {
	.container { 
		width: 95%; 
	}
	
	#portfoliolist .portfolio {
		width:48%;
		margin:1%;
	}		

	#ads {
		display:none;
	}
	
}

/* #Mobile (Landscape) - Note: Design for a width of 480px */
@media only screen and (min-width: 480px) and (max-width: 767px) {
	.container {
		width: 70%;
	}
	
	#ads {
		display:none;
	}
	
}

/*----------------------------------
PROFILE - WHO
----------------------------------*/

#main-profile {
    background-color: #0dbabe;
    margin: 120px auto 80px;
}

#main-profile .title {
    background: url(../images/who-title.jpg) no-repeat center center;
    margin: -80px auto 50px;
    width: 205px;
    height: 166px;
    box-shadow: 0px 2px 10px rgba(0,0,0,0.5);
}


/* ==============
    MOBILE: Menu
   ============== */

nav a {
    display: block;
    margin-bottom: 10px;
    padding: 15px 0;
    background: #f24f58;
    color: white;
    font-size: 12px;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
}

nav a.active {
    border-top: 2px solid #ffffff;
    border-bottom: 2px solid #ffffff;
    padding: 2px;
    margin-top: 23px;
}
nav a:hover,
nav a:visited {
    color: white;
}
nav a:hover {
    color: rgba(255,255,255,.5);
}

/* ==============
    MOBILE: Main
   ============== */

#main {
    padding: 30px 0;
}
#main article h1 {
    font-size: 2em;
}
#main aside {
    color: white;
    padding: 0px 5% 10px;
}
#footer-container footer {
    color: white;
    padding: 20px 0;
    font-size: .5rem;
}


/* ===============
    ALL: IE Fixes
   =============== */

.ie7 #title {
    padding-top: 20px;
}

/* ==|== non-semantic helper classes ======================================== */

.ir {
    display: block;
    border: 0;
    text-indent: -999em;
    overflow: hidden;
    background-color: transparent;
    background-repeat: no-repeat;
    text-align: left;
    direction: ltr;
}
.ir br {
    display: none;
}
.hidden {
    display: none !important;
    visibility: hidden;
}
.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}
.invisible {
    visibility: hidden;
}
.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
}
.clearfix:after {
    clear: both;
}
.clearfix {
    zoom: 1;
}

/* ==|== media queries ====================================================== */

@media only screen and (min-width: 480px) {
    /* ====================
    INTERMEDIATE: Menu
   ==================== */
    nav a {
        float: left;
        width: 27%;
        margin: 0 1.7%;
        padding: 25px 2%;
        margin-bottom: 0;
    }
    nav li:first-child a {
        margin-left: 0;
    }
    nav li:last-child a {
        margin-right: 0;
    }
    /* ========================
    INTERMEDIATE: IE Fixes
   ======================== */
    nav ul li {
        display: inline;
    }
    .oldie nav a {
        margin: 0 0.7%;
    }
}
@media only screen and (min-width: 768px) {
    /* ====================
    WIDE: CSS3 Effects
   ==================== */
    #header-container,
    #main aside {
        -webkit-box-shadow: 0 5px 10px #aaa;
        -moz-box-shadow: 0 5px 10px #aaa;
        box-shadow: 0 5px 10px #aaa;
    }
    /* ============
    WIDE: Menu
   ============ */
    #title {
        float: left;
    }
    nav {
        float: right;
        width: 38%;
    }
    /* ============
    WIDE: Main
   ============ */
    #main article {
        float: left;
        width: 57%;
    }
    #main aside {
        float: right;
        width: 28%;
    }
}
@media only screen and (min-width: 1140px) {
    /* ===============
    Maximal Width
   =============== */
    .wrapper {
        width: 1026px;
        /* 1140px - 10% for margins */
        margin: 0 auto;
    }
}